html, body {
  margin: 0;
  min-width: 1200px;
  padding: 0;
}


body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
  font-weight: normal;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font: inherit;

  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: #ffffff;
  border: none;
}

.main-header {
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
}

.main-navigation {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
  background-color: #eeeeee;
}

.main-navigation .current {
  border-bottom: 2px solid #fb565a;
  padding-bottom: 8px;
}

.site-navigation,
.basket {
  list-style: none;
}

.site-navigation a,
.basket-item a {
  display: block;
  color: #000000;
  
}

.site-navigation a:focus,
.basket-item a:focus {
  color: #fb565a;
}

.site-navigation a:hover,
.basket-item a:hover {
  color: #fb565a;
}

.site-navigation a:active,
.basket-item a:active {
  color: #a6a6a6;  
}

.main-header-logo:focus {
  opacity: 0.8;
}

.main-header-logo:hover {
  opacity: 0.8;
}

.main-header-logo:active {
  opacity: 0.3; 
}

/* =====================Слайдер========================== */

.slider {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #eeeeee;
  border: 1px solid #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  
  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls i {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls i::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  
  background: #ffffff;
  border-radius: 50%;
}

.slider-controls .active::before {
  content: "";
  
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  
  width: 4px;
  height: 4px;
  margin: -4px;
  
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  list-style: none;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
  display: block;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.button {
  display: block;
  width: 240px;
  padding: 13px 0;
  
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  
  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}




/* ====================================================== */
.page-title {
  background-color: #eeeeee;
  border: 1px solid #eeeeee;
}

.advantages-list {
  list-style: none;
}

.advantages-item {
  text-align: left;
}

.advantages-item h3 {
  font-size:18px;
  text-transform: uppercase; 
}

.advantages-item p {
  font-size:16px;
}

.advantages-list .button {
  font-size:16px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
}

.web-button {
  background-color: #fb565a;
  color: #ffffff;
}  

.web-button:focus {
  background-color: #e74246;
  color: #ffffff;
}

.web-button:hover {
  background-color: #e74246;
  color: #ffffff;
}  

 .web-button:active {
  background-color: #d7373b;
  color: #e37375;
}

.advantages-button {
  background-color: #00ca74;
  color: #ffffff;
}

.advantages-button:focus {
  background-color: #00bc6c;
  color: #ffffff;
}

.advantages-button:hover {
  background-color: #00bc6c;
  color: #ffffff;
}

.advantages-button:active{
  background-color: #00aa62;
  color: #4dc491;
}

.presentation-button {
  background-color: #efc84a;
  color: #ffffff;
}

.presentation-button:focus {
  background-color: #eab534;
  color: #ffffff;
}

.presentation-button:hover {
  background-color: #eab534;
  color: #ffffff;
}

.presentation-button:active {
  background-color: #e5a722;
  color: #ecbe5c;
}

.main-footer {
  color: #000000;
  background-color: #ffffff;
}

.footer-slogan b {
  font-size: 36px;
  line-height: 36px;
}

.footer-slogan p {
  line-height: 22px;
  color: #444444;
}

.main-social ul {
  list-style: none;
}

/* ============================ CATALOG.HTML ========================== */
/*
.modal {
  display: none;
}



.layout-menu {
  display: none;
}

*/

.page-title {
  text-align: center;
  color: #000000;
}

.slogan h1 {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

.filter ul {
  list-style: none;
  font-size: 16px;
}

.filter-input + label,
.filter-input + label {
  color: #000000;
  opacity: 0.7;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #000000;
  opacity: 1;
}

.filter-input:disabled + label {
  color: #000000;
  opacity: 0.5;
}

.filter-button {
  font-weight: 500;
  background-color: #ededed;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}

.filter-button:focus {
  background-color: #dfdfdf;
  color: #000000;
}

.filter-button:hover {
  background-color: #dfdfdf;
  color: #000000;
}  

 .filter-button:active {
  background-color: #d5d5d5;
  color: #a6a6a6;
}

.catalog ul {
  list-style: none;
}

/* ----- Сеточные стили index----- */


html,
body {
  min-width: 1200px;
  min-height: 1750px;
}

.container {
  position: relative;
  width: 1160px;     
  padding:0 0px; /*центровка содержимого браузера*/
  margin:0 auto;
}

.main-header {
  margin: 0;
  padding: 0;
  padding-top: 55px;
}

.main-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  padding-bottom: 15px;
}

.main-header-logo {
  width: 160px;
  height: 65px;
  margin-right:190px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-top: 26px;
  width: 460px;
  list-style: none;
}

.basket {
  max-width: 140px;
  
}

.basket {
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 26px;
  list-style: none;
  margin-left: auto;
}

.basket .basket-link {
  position: relative;
  padding-left: 50px;
}

.basket-link::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 24px;
  width: 16px;
  height: 18px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
 }

/* =================================================== */ 

.advantages {
  width: 1100px;
}

.advantages-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 85px;
  margin-top: 80px;
  padding: 0;
}

.advantages-item h3 {
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 0;
}

.advantages-item {
  width: 300px;
}

.advantages-list .button {
  display: block;
  width: 160px;
  margin-top: 30px;
  padding: 10px 0;
  border-radius: 3px;
}

/* ===================information===================== */

.information {
  display: flex;
  padding-top: 80px;
  padding-bottom: 50px;
}

.information {
  border-top: 2px solid #eeeeee;
}

.stat-info .column {
  display: inline-block;
}

.info {
  min-width: 670px;
  margin-right: 130px;
}

.info .slogan {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.info p {
  margin-top: 35px;
}

.info h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  margin-top: 40px;
  color: #000000;
  text-transform: uppercase;
}

.dev-orders {
  list-style-type: none;
  margin-top: 23px;
}

.dev-orders li {
  position: relative;
  margin-bottom: 24px;
}

.dev-orders li::before {
  position: absolute;
  content: "";
  top: 12px;
  left: -35px;

  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.statistic {
  display: flex;
  flex-wrap: wrap;
}

.statistic .logo {
  margin-top: -32px;
}

.statistic > span {
  margin-top: 30px;
  text-transform: uppercase;
  color: #000000;
}

.stat-info {
  display: flex;
  margin-top: 45px;
}

.stat-info .column {
    width: 100px;
    margin-right: 20px;
}

.column b {
  font-size: 45px;
  line-height: 10px;
  color: #000000;
}

.column .percent {
  font-size: 28px;
  vertical-align: super;
}

.column p {
  line-height: 18px;
}

.logo {
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.logotypes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 65px;
  list-style: none;
}

.brand {
  opacity: 0.5;
}

.brand:hover {
  opacity: 1;
}

.brand:focus {
  opacity: 1;
}

.brand:active {
  opacity: 0.2; 
}


/* ===================footer========================== */

.main-footer {
  padding: 75px 0;
}

.map {
  position: relative;
  width: 100%;
  height: 416px;
  background-image: url(../img/map.jpg);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px; 
}

.info-cloud {
  display: flex;
  flex-wrap: wrap;
  position:absolute;
  width: 320px;
  min-height: 310px;
  padding: 0 40px;
  padding-top: 40px;
  padding-bottom: 47px;
  background: white;
  bottom: 55px;
  left: 260px;
  box-sizing: border-box;
}

.info-cloud-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 13px;
}

.info-cloud-text {
  color: #666666;
  font-size: 18px;
  line-height: 18px;
  margin-top: 0;
  margin-bottom: 19px;
}

.open-feedback {
  display: block;  
  margin: 0;
  padding: 0
  width: 210px;
  padding:12px 5px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  font-size: 16px;
  line-height: 18px;
  border-radius: 3px;
  background-color: #fb565a;
  margin-top: 29px;
}

.info-cloud a:hover {
  background: #d6494d;
}

.info-cloud a:active {
  background: #b63538;
  box-shadow: inset 0 3px #9b2d30;
}

.main-social {
  display: flex;
}

.main-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-right: 160px;
  width: 260px;
}

.social .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #e1e1e1;
  color: #000000;
  box-sizing: border-box;
  margin-right: 5px;
}

.icon:focus {
  background-color: #fb565a;
}

.icon:hover {
  background-color: #fb565a;
}

.icon:active path {
  fill: #e37376;
}

.footer-slogan b {
  font-size: 36px;
  line-height: 36px;
}

.footer-slogan p {
  line-height: 22px;
  color: #444444;
  margin-top: 6px;
}

/* ============================ modal feedback ========================== */

.modal {
  position: fixed;
  padding: 0;
  color: #000000;
}

.feedback {
  top: 120px;
  left: 50%;
  display: none;  
  width: 960px;
  margin: 0 auto;
  padding-top: 70px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 85px;
  box-sizing: border-box; 
  box-shadow: 0 20px 40px 0 rgba(0, 1, 1, .75);
  background: white;
  margin-left: -480px;
  z-index: 10;
/*
  background: rgba(255, 45, 82, 0.2);
  box-shadow: 0 0 0 3px rgb(255, 45, 82);
*/    
}

.feedback-form {
  margin: 0; 
  padding: 0;
}

.feedback-item {
  margin: 0; 
  padding: 0;
}

.feedback-title {
  display: block;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 11px;
}

.feedback h2{
  margin: 0; 
  padding: 0;
  font-size: 45px;
  line-height: 45px;
  margin-bottom: 45px;
}

.feedback-user {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feedback-item input {
  font: inherit;
  width: 360px;
  height: 50px;
  background-color: transparent;
  border: 2px solid #d7dcde;
  border-radius: 3px;
  outline: none;
  padding-left: 14px;
  box-sizing: border-box;
  margin-bottom: 35px;
}

.feedback-item textarea {
  font: inherit;
  width: 760px;
  height: 120px;
  background-color: transparent;
  border: 2px solid #d7dcde;
  border-radius: 3px;
  outline: none;
  padding: 12px 14px 12px 14px;
  box-sizing: border-box;
}

.feedback-username:focus {
  border: 2px solid #e74246;
}

.feedback-username:hover {
  border: 2px solid #b4b9bb;
}

.feedback-email:focus {
  border: 2px solid #e74246;
}

.feedback-email:hover {
  border: 2px solid #b4b9bb;
}

.feedback-text:focus {
  border: 2px solid #e74246;
}

.feedback-text:hover {
  border: 2px solid #b4b9bb;
}

.feedback textarea {
  margin: 0;
}

.feedback-btn {
  display: block;
  margin-top: 50px;
  font: inherit;
  width: 260px;
  height: 50px;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  font-weight: medium;
  text-transform: uppercase;
  background: #fb565a;
  border-radius: 3px;
  border: none;
  outline: none;
}

.feedback-btn:focus {
  background: #d6494d;
}

.feedback-btn:hover {
  background: #d6494d;
}

.feedback-btn:active {
  background: #b63538;
  box-shadow: inset 0 3px #9b2d30;
}

.feedback-close {
  position: absolute;
  right: 80px;
  top: 85px;
  
  width: 40px;
  height: 40px;

  font-size: 0;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}

.feedback-close::before,
.feedback-close::after {
  content: "";

  position: absolute;
  top: 10px;
  left: 2px;

  width: 30px;
  height: 3px;

  background-color: #fecccd;
}

.feedback-close::before {
  transform: rotate(45deg);
}

.feedback-close::after {
  transform: rotate(-45deg);
}

.feedback-close:hover::before,
.feedback-close:hover::after {
  background-color: #fb565a;
}

.feedback-close:active::before,
.feedback-close:active::after {
  background-color: #ffeeee;
}

/* ----- Сеточные стили catalog----- */

.filter-item {
  margin: 0;
  padding: 0;
 
  border: none;
}

.filter-item legend {
  margin: 0;
  padding: 0
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-filter {
  margin: 0;
  padding: 0;
  width: 260px;
  margin-top: 13px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

/*
.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}
*/

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.page-title {
  padding: 0;
  margin: 0;
  padding-bottom: 15px;
  margin-bottom: 75px;
  min-height: 42px;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.filters {
  padding: 0;
  margin: 0;
  width: 260px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  
  border: none;
}

.filter fieldset:first-child {
  margin-bottom: 35px;
}


.filter legend {
  margin: 0;
  padding: 0;
  margin-bottom: 26px;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.filter ul {
  margin: 0;
  padding: 0;
}

.filter-option {
  margin-bottom: 19px;
  padding-left: 40px;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: 0;

  width: 25px;
  height: 25px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::after {
  content: "";

  position: absolute;
  top: 0px;
  left: -42px;

  width: 25px;
  height: 25px;
  
  
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio + label::before {
  content: "";

  position: absolute;
  left: -42px;
  top: 0px;

  width: 18px;
  height: 18px;
  
  border: 5px solid #a6a6a6;
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";

  position: absolute;
  top: 8px;
  left: -34px;

  width: 12px;
  height: 12px;

  background-color: #a6a6a6;
  border-radius: 50%;
}

.filter-button {
  display: block;
  margin-top: 50px;
  font: inherit;
  width: 260px;
  height: 50px;
  color: #000000;
  font-size: 16px;
  line-height: 18px;
  font-weight: medium;
  text-transform: uppercase;
  background: #eeeeee;
  border-radius: 3px;
  border: none;
  outline: none;
}

.filter-button:focus {
  background: #dfdfdf;
}

.filter-button:hover {
  background: #dfdfdf;
}

.filter-button:active {
  background: #d5d5d5;
  box-shadow: inset 0 3px #bfbfbf;
}

/* =================================================== */

.catalog {
  width: 765px;
  padding: 0;
  margin: 0;
  
}

.sorting {
  display: flex;
  padding: 0;
  margin: 0;
  width: 760px;
  margin-bottom: 49px;
}

.sorting-value {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  width: 360px;
  list-style: none;
  margin-right:45px;
}

.sorting-turn {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  width: 45px;
  list-style: none;
}

.sorting-value a {
  color: #000000;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  opacity: 0.3;
  text-decoration: none;
}

.sorting-value a:focus {
  opacity: 0.7;
}

.sorting-value a:hover {
  opacity: 0.7;
}

.sorting-value a:active {
  opacity: 1;
}

.sorting-value :last-child a {
    margin-right: 0;
}

.icon-down path {
  fill: #ededed;
}

.icon-up path {
  fill: #ededed;
}

.icon-down:focus path {
  fill: #a6a6a6;
}

.icon-up:focus path {
  fill: #a6a6a6;
}

.icon-down:hover path {
  fill: #a6a6a6;
}

.icon-up:hover path {
  fill: #a6a6a6;
}

.icon-down:active path {
  fill: #000000;
}

.icon-up:active path {
  fill: #000000;
}

a.current {
  opacity: 1;
}

a.current path {
  fill: #000000;
}

.sorting legend {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  padding-top: 6px;
  margin-right:270px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  list-style: none;
}

.layout {
  position: relative;
  margin: 0;
  padding: 0;
  width: 360px;

  /* Временно для сетки */

  margin-bottom: 30px;
  margin-right: 40px;
}

.layout:hover > .layout-menu {
  display: flex;
}

.layout:nth-child(even) {
  margin-right: 0;
}

.layout-top {
  display: flex;
  align-items: center;
  height: 41px;
  background-color: #eeeeee;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-left: 7px;
}

.layout-top span {
  display: inline-block;
  height: 14px;
  width: 14px;
  margin-left: 9px;
  border-radius: 50%;
  background-color: #ffffff;
}

.image-content {
  margin: 0;
  padding: 0;
}

.layout-menu {
  margin: 0;
  padding: 0;
}

.layout-menu {
  display: none;
  position: absolute;
  flex-direction: column;
  align-items: center;
  height: 230px;
  width: 360px;

  top: 385px;
  left: 0;

  background-color: #eeeeee;
  color: #000000;
  /*padding: 0 80px;*/

  box-sizing: border-box;
}

.layout-menu p {
  width: 230px;
}

.layout-menu .btn {
  width: 200px;
  height: 50px;
  background-color: #fb565a;
  border: 0;
  margin-top: auto;
  margin-bottom: 43px;
  font-size: 16px;
  line-height: 18px;
  font-weight: medium;
  color: #ffffff;
}

.layout-menu .btn:focus {
  background: #e74246;
}

.layout-menu .btn:hover {
  background: #e74246;
}

.layout-menu .btn:active {
  background: #d7373b;
}

.layout-menu h3 {
  margin-top: 27px;
  margin-bottom: 26px;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
}

.layout-menu a {
  color: #000000;
}

.layout-menu p {
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  color: #929292;
  font-weight: 500;
  margin-top: -10px;
}

.layout:hover > .layout-top {
  background-color: #4d4d4d;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  
  padding: 0;
  margin: 0;
  margin-top: 60px;

  list-style: none;
}

.pagination-item {
  margin-right: 5px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item a {
  display: block;
  padding: 17px 25px;
  
  color: #000000;

  background-color: #eeeeee;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: #dfdfdf;
}

.pagination-item a:active {
  background-color: #d5d5d5;
  color: #a9a9a9;
  border-top: 2px solid #bfbfbf;
}

.pagination-item-current a {
  color: #000000;

  background-color: #ffffff;
  border: 2px solid #dbdbdb;
  box-sizing: border-box;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #000000;
  background-color: #ffffff;
  box-sizing: border-box;
  border: 2px solid #dbdbdb;
}
